{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <h4>All Users</h4>
    <h4>
        {% if companyName  is defined %}
            {{ companyName }}
        {% endif %}
    </h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Actual Job</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    {% if user.dateOfBirth %}
                        {{ 'now'|date('Y') - user.dateOfBirth|date('Y') }} years
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
                <td>
                    {% if user.jobs|length > 0 %}
                        {{ user.jobs.last().getJobPosition() }} at {{ user.jobs.last().getCompanyName() }}
                    {% else %}
                        No job
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
